# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
docs/sql/
docs/plans/
# dependencies
/node_modules

# production
/dist
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo

# TanStack Router
.routegen